*{
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}


body {
  background-color: #FFBABA;
    font-size: 1.5rem;
    min-height: 100%;
    font-family: 'Merriweather', serif;
}


h1 {
    color: aliceblue;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    line-height: 2;
    margin: 50px auto 0 auto; 
   }

h2 {
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

p {
    line-height: 2;
}

hr {
    border: dotted #FFBABA 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}


a {
    color: #FFBABA;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover{
    color: white;
}


.grid-layout >*{
    box-shadow: -1px 1px 7px 0px black (0, 0, 0, 0.75);
    border-radius: 4px;
    text-align: center;
 }

 .grid-layout {
    display: grid;
    gap: 0;
    grid-template: 
   "navbar" 
    "header"
    "main" auto
    "footer" auto; 
 }

 .header {
    grid-area: header;
    background-color: #7B2869;
 }
 .navbar {
    grid-area: navbar;
    background-color: black;
   
    
 }
 .main {
    grid-area: main;
    background-color: #FFBABA;

  }

  .top-container {
   background-color: #7B2869;
   margin: 0px;
   position: relative;
   padding-top: 100px;
 }

 .bottom-cloud {
  position: absolute;
  left: 200px;
  top: 300px; }

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px; }

.EHlogo {
  height: 50%;
  width: 100%;
  max-width: 700px; }

.circlephoto {
  height: 50%;
  width: 100%;
  max-width: 350px; }

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left; }

.intro {
  width: 50%;
  margin: auto; }

.profile {
  padding: 50px; }

.teachericon {
  width: 25%;
  float: left;
  margin-right: 30px; }

.computericon {
  width: 25%;
  float: right;
  margin-left: 30px; }




.footer {
    grid-area: footer;
    background-color: #7B2869;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.container{
  max-width: 1170px;
  margin:auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}
.footer{
  background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}